<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="./css/feed.css">
    <link rel="stylesheet" href="./css/cdnFeed.min.css" >
</head>
<body>
    <div class="wrapper">
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/The_Marshall_Mathers_LP.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">Eminem</div>
          <div class="album">The Marshall Mathers LP</div>
          <div class="year">2000</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f2/BLACKPINK-_The_Album.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Blackpink</div>
          <div class="album">The Album</div>
          <div class="year">2020</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3e/Trash_%28Alice_Cooper_album_-_cover_art%29.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">Alice Cooper</div>
          <div class="album">Trash</div>
          <div class="year">1989</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/The_Doors_-_Morrison_Hotel.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">The Doors</div>
          <div class="album">Morrison Hotel</div>
          <div class="year">1970</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/76/Adele_-_30.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Adele</div>
          <div class="album">30</div>
          <div class="year">2021</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/8/84/StraightOuttaComptonN.W.A..jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">N.W.A.</div>
          <div class="album">Straight Outta Compton</div>
          <div class="year">1988</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f2/Taylor_Swift_-_Reputation.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Taylor Swift</div>
          <div class="album">Reputation</div>
          <div class="year">2017</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c9/Phil_Collins_-_Face_Value.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Phil Collins</div>
          <div class="album">Face Value</div>
          <div class="year">1981</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Tbwtexe2.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">Babylon Zoo</div>
          <div class="album">The Boy With The X-ray Eyes</div>
          <div class="year">1996</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b7/Wombling_Songs.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">The Wombles</div>
          <div class="album">Wombling Songs</div>
          <div class="year">1973</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/e/e1/Circus-_Album.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Britney Spears</div>
          <div class="album">Circus</div>
          <div class="year">2008</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ice_Cube_-_I_Am_The_West_%28Front_Cover%29.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">Ice Cube</div>
          <div class="album">I Am The West</div>
          <div class="year">2010</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/dc/Megadeth-RustInPeace.jpg" class="cover" alt="">
        <div class="info">
          <div class="artist">Megadeth</div>
          <div class="album">Rust In Peace</div>
          <div class="year">1990</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Kylie_Minogue_-_Kylie.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Kylie Minogue</div>
          <div class="album">Kylie</div>
          <div class="year">1988</div>
        </div>
      </div>
  
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Artpop_cover.png" class="cover" alt="">
        <div class="info">
          <div class="artist">Lady Gaga</div>
          <div class="album">Artpop</div>
          <div class="year">2013</div>
        </div>
      </div>
  
    </div>
  </body>
</html>