<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link rel="stylesheet" href="./css/feed.css" />
    <link rel="stylesheet" href="./css/cdnFeed.min.css" />
  </head>
  <body>
    <%- include('./component/nav')%>
    <div class="wrapper">
            <% posts.data.forEach(function(data){ %>
              <div class="card">
                <img
                  src="/image/<%=data.image%>"
                  alt="Profile Image"
                  class="cover"
                />
                <div class="info">
                  <h5 class="artist"><%= data.postText %></h5>
                </div>
              </div>
                <% });%>

    </div>
  </body>
</html>
