<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="https://th.bing.com/th/id/OIP.c7J7weefn0EwWYLEQASavwHaG7?rs=1&pid=ImgDetMain" alt="pin logo" class="img1" />
          <p class="header">Sign in to see</p>
    <form action="/v1/user/register" method="post">

        <input type="email" placeholder="email" name="email" class="detail" /><br />
        <input type="text" placeholder="UserName" name="username" class="detail" /><br />
        <input type="text" placeholder="Full Name" name="fullname" class="detail" /><br />
        <input type="password" placeholder="Password" name="password" class="detail" />
        <input class="btn int" type="submit" value=" Register Account" />
  
    </form>
          <!-- <h4>Forgot your password?</h4> -->
    
          <footer>
            <p>
              By continuing, you agree to ClonePost's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <p><a href="/" >clonePost Account ? login up</a></p>
          </footer>
        </div>
      </div>
</body>
</html>